<div class="container mt-5 mb-5 pt-5" style="position: relative">
  <form (ngSubmit)="cadastrarOuAtualizar()" [formGroup]="despesaForm">
    <div class="form-row">
      <input type="hidden" name="id" formGroupName="id" />
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input
          name="nome"
          type="text"
          class="form-control"
          formGroupName="nome"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="sobrenome">Cargo</label>
        <input
          type="text"
          class="form-control"
          name="cargo"
          formGroupName="cargo"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="nome">Foto</label>
      <p-fileUpload
        #upload
        name="demo[]"
        chooseLabel="Escolher uma foto"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [multiple]="false"
        accept="image/*"
      >
      </p-fileUpload>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        class="form-control"
        name="email"
        formGroupName="email"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input
          type="text"
          class="form-control"
          name="cpf"
          formGroupName="cpf"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="rg">Número da Nota</label>
        <input
          type="text"
          class="form-control"
          name="numeroNaNota"
          formGroupName="numeroNaNota"
        />
      </div>
      <div class="form-group col-md-2">
        <label for="data_nasc">Data da emissão da nota</label>
        <input
          type="date"
          class="form-control"
          name="dataEmissaoNota"
          formGroupName="dataEmissaoNota"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">Projetos</label>
        <p-dropdown
          [options]="projetos"
          [(ngModel)]="projeto"
          name="projeto"
          optionLabel="nome"
          [filter]="true"
          [style]="{ width: '100%' }"
          placeholder="Selecione um Projeto"
          [showClear]="true"
          (onChange)="listarProjetos()"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="projeto">
              <div>{{ projeto.nome }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group col-md-6">
        <label for="">Categoria</label>
        <p-dropdown
          [options]="categorias"
          [disabled]="!projeto"
          [(ngModel)]="categoria"
          emptyFilterMessage="Nenhuma categoria cadastrada"
          name="categoria"
          optionLabel="nome"
          [filter]="true"
          [style]="{ width: '100%' }"
        >
        </p-dropdown>
      </div>
    </div>
    <button
      type="submit"
      class="btn"
      [class]="operacao ? 'btn-primary' : 'btn-success'"
    >
      {{ operacao ? "Cadastrar" : "Atualizar" }}
    </button>
    <br /><br />
    <a routerLink="/despesa/lista">Voltar para a pesquisa</a>
  </form>
</div>
