<div class="container mt-5 mb-5 pt-5">
  <form [formGroup]="despesaForm" (ngSubmit)="cadastrarOuAtualizar()">
    <div class="form-row">
      <input type="hidden" name="id" formControlName="id" />
      <div class="form-group col-md-6">
        <label for="nome">Cpf</label>
        <input
          name="nome"
          type="text"
          class="form-control"
          formControlName="cpf"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="projeto">Projeto</label>
          <p-dropdown
            [options]="projetos"
            formControlName="projeto"
            name="projeto"
            optionLabel="nomeDoProjeto"
            [filter]="true"
            [style]="{ width: '100%' }"
            placeholder="Selecione o Projeto"
            [showClear]="true"
            (onChange)="listarCategorias(projetos)"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="projeto">
                <div>{{ projeto.nomeDoProjeto }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group col-md-6">
          <label for="categoria">Categoria</label>
          <p-dropdown
            [options]="categorias"
            formControlName="categoria"
            name="categoria"
            optionLabel="nome"
            [filter]="true"
            [style]="{ width: '100%' }"
          >
            placeholder="Selecione a Categoria"
            <ng-template pTemplate="selectedItem">
              <div *ngIf="categoria">
                <div>{{ categoria.nome }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="valor">Valor</label>
        <p-inputMask
          styleClass="form-control"
          name="valor"
          placeholder="$"
          formControlName="valor"
        >
        </p-inputMask>
      </div> -->
      <div class="form-group col-md-6">
        <label for="descricao">Descrição</label>
        <input
          type="text"
          class="form-control"
          name="descricao"
          formControlName="descricao"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="notaFiscal">Imagem da Nota Fiscal</label>
      <p-fileUpload
        #upload
        name="notaFiscal"
        chooseLabel="Insira na nota fiscal"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [multiple]="false"
        accept="image/*"
      >
      </p-fileUpload>
    </div>
    <button
      type="submit"
      class="btn"
      [class]="operacao ? 'btn-primary' : 'btn-success'"
    >
      {{ operacao ? "Cadastrar" : "Atualizar" }}
    </button>
    <br /><br />
    <a routerLink="/despesa/lista">Voltar para a pesquisa</a>
  </form>
</div>
