<div class="container-fluid">
  <div class="row justify-content-md-center">
    <!--FORMULÁRIO DE LOGIN-->
    <form class="col col-lg-6 login-form" [formGroup]="form">
      <h1>Acessar</h1>
      <div class="form-floating mb-3">

        <input type="text" formControlName="cpf" placeholder="CPF"/>
      </div>
      <div class="form-floating mb-3">
        <input type="password" formControlName="senha" placeholder="SENHA"/>
      </div>

      <div>
        <input
          type="submit"
          value="Entre"
          [disabled]="!form.valid"
          (click)="login()"
        />
      </div>

      <div class="link">
        Ainda não tem conta?
        <a routerLink="/cadastrar">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
