<div class="container" >

  <div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <h1>Login</h1>
        <p>
          <label for="cpf_login">Cpf</label>
          <input id="nome_login" name="nome_login" required="required" type="text"/>
        </p>

        <p>
          <label for="email_login">Senha</label>
          <input id="email_login" name="email_login" required="required" type="password" placeholder="********" />
        </p>

        <p>
          <input type="submit" value="Logar" (click)=login()/>
        </p>

        <p class="link">
           Ainda não tem conta?
          <a routerLink="/cadastrar">Cadastre-se</a>
        </p>
    </div>
  </div>
</div>

