<div class="container" >

  <div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <h1>Login</h1>
        <p>
          <label for="">CPF</label>
        <input type="text" [(ngModel)]="cpf.cpf">
        </p>

        <p>
          <label for="">Senha</label>
        <input type="text" [(ngModel)]="senha.senha">
        </p>

        <p>
          <input type="submit" value="Logar" (click)=login()/>
        </p>

        <p class="link">
           Ainda não tem conta?
          <a routerLink="/cadastrar">Cadastre-se</a>
        </p>
    </div>
  </div>
</div>

