<div class="container mt-5">
  <p-table #dt
      [value]="colaboradores"
      [responsive]="true"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[5,10,25,50]"
      styleClass="p-datatable-striped"
      [loading]="loading"
      [filterDelay]="0"
      [globalFilterFields]="['cpf','nome','email','projeto']">
      <ng-template pTemplate="caption">
          <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input #pesquisa pInputText type="text" (input)="dt.filterGlobal(pesquisa.value, 'contains')" placeholder="Pesquisar" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="cpf">CPF<p-sortIcon field="cpf"></p-sortIcon></th>
              <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
              <th pSortableColumn="email">E-mail<p-sortIcon field="email"></p-sortIcon></th>
              <th pSortableColumn="cep">ID<p-sortIcon field="cep"></p-sortIcon></th>
              <th class="deletar-atualizar"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-zupper>
          <tr>
              <td>{{zupper.cpf}}</td>
              <td>{{zupper.nome}}</td>
              <td>{{zupper.email}}</td>
              <td>{{zupper.projeto.id}}</td>
              <td class="deletar-atualizar">
                  <p-button routerLink="/cadastrar/{{zupper.cpf}}" class="espaco" icon="pi pi-pencil"></p-button>
                  <p-button (click)="excluir(zupper.cpf)" icon="pi pi-trash"></p-button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" routerLink="zupper">Novo Cliente</p-button>
      </ng-template>
  </p-table>
</div>
